<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head'); %>
  <title>eRecepty | přidat lékařskou instituci</title>
</head>

<body>
  <%- include('./partials/_header'); %>
  <main>
    <a href="/">&lt;&lt; zpět na domovskou obrazovku</a>
    <br>


  </main>
  <%- include('./partials/_footer'); %>
</body>

</html>