<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head'); %>
  <title>eRecepty</title>
</head>

<body>
  <%- include('./partials/_header'); %>
  <main>
    <a href="">+ Vystavit nový recept</a><br>
    <a href="">? Zobrazit vystavené recepty</a><br>
    <a href="">+ Přidat pacienta</a><br>
    <a href="/add-institution">+ Přidat lékařskou instituci</a><br>
    <a href="">+ Přidat lékaře</a><br>
  </main>
  <%- include('./partials/_footer'); %>
</body>

</html>