<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head'); %>
  <title>eRecepty</title>
</head>

<body>
  <%- include('./partials/_header'); %>
  <main>
    <a href="/new-prescription">+ Vystavit nový recept</a><br>
    <a href="/show-prescriptions">? Zobrazit report vystavených receptů</a><br>
    <a href="/add-patient">+ Přidat pacienta</a><br>
    <a href="/add-institution">+ Přidat lékařskou instituci</a><br>
    <a href="/add-doctor">+ Přidat lékaře</a><br>
  </main>
  <%- include('./partials/_footer'); %>
</body>

</html>