<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>eRecepty</title>
</head>

<body>
	<h1>
		<%= homePageContent %>
	</h1>
</body>

</html>