.error,
.success {
	font-weight: bold;
	margin: 1rem;
}

.error h4,
.success h4 {
	margin: 1rem;
}

.error {
	border: solid 2px red;
	color: red;
}

.success {
	border: solid 2px green;
	color: green;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	padding: 8px;
	text-align: left;
}

td {
	border: 1px solid black;
}

th {
	background-color: black;
	color: white;
	border: 1px solid white;
}

@media print {
	body>*:not(.printableArea) {
		display: none;
	}
}