@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

html,
input,
select,
button {
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
}

a {
	background-color: black;
	border: white solid 1px;
	color: white;
	padding: .2rem;
	margin-bottom: .2rem;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	background-color: white;
	border: black solid 1px;
	color: black;
}

.error,
.success {
	font-weight: bold;
	margin: 1rem;
}

.error h4,
.success h4 {
	margin: 1rem;
}

.error {
	border: solid 2px red;
	color: red;
}

.success {
	border: solid 2px green;
	color: green;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	padding: 8px;
	text-align: left;
}

td {
	border: 1px solid black;
}

th {
	background-color: black;
	color: white;
	border: 1px solid white;
}

@media print {
	body>*:not(.printableArea) {
		display: none;
	}
}